@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --font-family: 'Open Sans', sans-serif;
    --bg-color: #79155B;
    --primary-color: #F6635C;
}

